.carrito-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 24px;
}
.carrito-table-wrapper {
    padding: 0 5rem;
}

.carrito-table thead {
    background: #c5e0dc;
    font-weight: bold;
}

.carrito-table th,
.carrito-table td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.carrito-table img {
    border-radius: 6px;
    height: 80px;
    width: 80px;
}

.carrito-footer {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
}

.carrito-footer button {
    margin-left: 10px;
}

.btn{
  background-color: #774f38;
  min-width: 8rem;
  padding: 10px;
  color: #c5e0dc;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 20px;
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
  text-decoration: none;
}

.fade-in{
  animation: fade 0.6s ease-in;
}

@keyframes fade{
  from{opacity:0}
  to{opacity:1}
}

/* mobile */
@media (max-width: 768px){

    .carrito-table-wrapper{
        padding: 2rem;
    }

    .carrito-table thead{
        display: none;
    }

    .carrito-table,
    .carrito-table tbody{
        display: block;
    }

    .cart-item{
        display: grid;
        grid-template-columns: 100px 1fr;
        gap: 10px;
        margin-bottom: 2rem;
        background: white;
        border-radius: 10px;
        box-shadow: 0 2px 6px rgba(0,0,0,0.1);
        align-items: center;
    }

    .cart-img{
        grid-row: span 4;
    }

    .cart-img img{
        width: 90px;
        height: 90px;
        object-fit: cover;
    }

    .cart-name{
        grid-row: span 2;
        font-weight: bold;
        font-size: 18px;
    }

    .cart-price,
    .cart-qty{
        font-size: 18px;
    }

    .cart-subtotal{
        font-weight: bold;
        color: #774f38;
    }

    .cart-actions{
        grid-column: 2;
    }

     .btn{
        font-size: 18px;
        min-width: auto;
        padding: 6px 10px;
    }

    .carrito-footer{
        padding-top: 2rem;
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    .carrito-footer span{
        font-size: 1.5rem;
        padding-bottom: 1rem;
    }

}