.nav-container{
  background-color: #c5e0dc;
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

.productos{  
  color: #774f38;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.9rem;
}
.logo{
    width: 4rem;
    transform: scaleX(-1);
  }
.dropdown-menu{
  background-color: #ece5ce;
  color: #774f38;
  border-radius: 12px;
  border: none;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
  animation: dropdownFade 0.2s ease;
}
.navbar .nav-link.dropdown-toggle,
.navbar .nav-link.dropdown-toggle.active,
.navbar .show > .nav-link.dropdown-toggle {
  color: #774f38;
}

@keyframes dropdownFade{
  from{
    opacity:0;
    transform: translateY(-10px);
  }
  to{
    opacity:1;
    transform: translateY(0);
  }
}

/* Mobile */
@media (max-width: 991px){

  .navbar-collapse{
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background: transparent;
    z-index: 1000;
    padding: 1rem;
  }

  .navbar-nav{
    align-items: center;
  }

}